/*#ffcb01 amarillo
 #085099  azul*/
/*full document*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*body*/
@media screen and (max-width: 320px) {
  body {
    font-size: 14px;
  }

  .navbtn {
    width: 52px;
  }

  .logo {
    width: 64px;
  }
 
  .inicio {
    margin-bottom: 20px; /* Agrega un margen inferior para separar del footer */
  }
}

/* Estilos para tablets y pantallas pequeñas */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 16px;
  }

  .navbtn {
    width: 150px;
  }

  .logo {
    width: 200px;
  }
}

/* Estilos para pantallas grandes */

@media screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  .navbtn {
    width: 180px;
  }

  .logo {
    width: 250px;
  }
}


body {
  min-height: 100vh;
  background: none;
  width: 100%;
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  cursor: url(../css/img/cursor30.png), pointer;

}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../css/img/bg.jpg);
  background-size: 100%;
  background-attachment: fixed;
  filter: sepia(1) opacity(80);
  z-index: -1;

}

/*header*/
header {
  background-color: #085099;
  padding: 10px;
  position: static;
  min-height: 70px;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  font-weight: bold;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

nav li {
  margin: 0 10px;
}

.navbtn {
  width: 180px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  -webkit-text-stroke: .5px yellow;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  border-color: yellow;
  color: red;
  box-shadow: 0 0 40px 40px yellow inset, 0 0 0 0 yellow;
  transition: all 150ms ease-in-out;
}

.ibefore {
  max-height: 30px;
  position: relative;
}

.navbtn:hover {
  box-shadow: 0 0 10px 0 yellow inset, 0 0 10px 4px yellow;
}

/*contenido*/
.pokedata {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-image: url("../css/img/logomon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
}


.contenedor {
  display: flex;
  max-width: 300px;
  height: 450px;
  background-image: url("../css/img/pokedex.png");
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
  min-height: calc(100vh - 100px); /* Restamos la altura del footer */
  padding-bottom: 100px; /* Agregamos un espacio inferior para el footer */
}


.pokecont {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  position: relative;
  display: block;
}

/*busqueda*/
.pantalla {
  background: white;
  border-radius: 9px;
  border: none;
  padding: 18px 2px;
  border: solid 2px black;
  font-size: 12px;
  color: black;
  width: 100%;
  max-width: 55%;
  height: 110px;
  transition: all 1s ease;
  right: 0;
  font-weight: 500;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 44%;
  text-align: center;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pantalla img{
  margin-top: 10px;
  align-self: center;
}

.inicio {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -75px; /* Ajusta el margen superior según tu preferencia */
}

.inicio button {
  color: red;
  border-color: red;
  font-size: 24px; /* Ajustar el tamaño de fuente según tu preferencia */
  padding: 12px 24px; /* Ajustar el espaciado interno del botón según tu preferencia */
}

.inicio button:before,
.inicio button:after {
  border-color: red;
}

.inicio button:hover:before,
.inicio button:hover:after {
  border-color: red;
}

.inicio button:hover {
  color: #fff;
  background-color: red;
  border-color: red;
}

/*footer*/
.mainfooter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position:static; /* Cambiamos la posición a fija */
  bottom: 0;
}

footer {
  background-color: #085099;
  padding: 10px;
  color: white;
  text-align: center;
  min-height: 50px;
  width: 100%;
  margin-top: 50px;
  bottom: 0;
  position: static;
  display: flex;
  justify-content: center;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
  color: yellow;
}

/*HTML 2*/

.btnControles {
  width: 100%;
  max-width: 200px;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background: red;
  border: 4px solid #000000;
  border-radius: 15px; 
  box-shadow: 2px 2px 5px rgb(63, 35, 35);
}

.btnControles:hover {
  background-color: red;
  opacity: 0.6;
}
.btnControles2 {
  width: 100%;
  max-width: 200px;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background: blue;
  border: 4px solid #000000;
  border-radius: 15px; 
  box-shadow: 2px 2px 5px rgb(63, 35, 35);
}
.btnControles2:hover {
  background-color: blue;
  opacity: 0.6;
}

.searchPokemon {
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin: 15px auto;
}

.searchPokemon input {
  background: transparent;
  border: none;
  padding: 16px;
  border-bottom: solid 2px red;
  font-size: 16px;
  color: #fff;
  width: 30%;
  transition:  all 1s ease;
  right: 0;
  font-weight: bold;
}

.searchPokemon input::placeholder {  
  color: red;
  font-weight: bold;
}

.searchPokemon input:focus {
  outline: none;
  border-color: #fff;
}

button.button-search {
  background: #fff;
  border: 2px solid red;
  box-shadow: 0 0 0 3px #fff;
  cursor: pointer;
  width: 130px;
  border-radius: 21px;
  padding: 4px;
  color: red;
  font-weight: bold;
  transition: 0.6s;
}

button.button-search img {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

button.button-search:focus {
  outline: none;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
  min-height: calc(100vh - 100px); /* Restamos la altura del footer */
  padding-bottom: 100px; /* Agregamos un espacio inferior para el footer */
}